backtest:
  commission_rate: 0.000005
  initial_capital: 1000000
  lookback_window: 252
  rebalance_frequency: 21d
  max_workers: 8
  test_all_frequencies: false
  test_all_position_sizes: false
  position_size_range: [1,2,3,4,5,6,7,8,9,10]
combo_wfo:
  combo_sizes: [2,3,4]
  enable_fdr: true
  fdr_alpha: 0.05
  fdr_method: fdr_bh
  is_period: 180
  n_jobs: -1
  oos_period: 90
  rebalance_frequencies: [8]
  save_all_results: true
  scoring:
    complexity_penalty_lambda: 0.15
    use_robust_scoring: true
    position_size: 5
  scoring_strategy: oos_sharpe_compound
  step_size: 90
  top_n: 1000
  verbose: true
  factor_space:
    factor_pairs:
      - ["BB1-6_CLOSE", "OPEN"]
      - ["MA_5-20", "VOLUME_5D"]
      - ["MOM_10", "VOLATILITY_20"]
    lookback_periods: [2,3]
    ma_windows: [1.5,2.0]
    vol_windows: [0.6,0.8]
cross_section:
  bounded_factors: [PRICE_POSITION_20D, PRICE_POSITION_120D, PV_CORR_20D, RSI_14]
  winsorize_lower: 0.025
  winsorize_upper: 0.975
data:
  cache_dir: null
  data_dir: null
  end_date: '2025-10-14'
  start_date: '2020-01-01'
  symbols:
    - '159801'
    - '159819'
    - '159859'
    - '159883'
    - '159915'
    - '159920'
    - '159928'
    - '159949'
    - '159992'
    - '159995'
    - '159998'
    - '510050'
    - '510300'
    - '510500'
    - '511010'
    - '511260'
    - '511380'
    - '512010'
    - '512100'
    - '512400'
    - '512480'
    - '512660'
    - '512690'
    - '512720'
    - '512800'
    - '512880'
    - '512980'
    - '513050'
    - '513100'
    - '513130'
    - '513500'
    - '515030'
    - '515180'
    - '515210'
    - '515650'
    - '515790'
    - '516090'
    - '516160'
    - '516520'
    - '518850'
    - '518880'
    - '588000'
    - '588200'
output_root: results_combo_wfo
run_id: COMBO_WFO_COMPOUND_SHARPE_DEV
